@using ExamProj.Models.DTOs
@model List<ExamQuestionDTO>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
@foreach(var exam in ViewBag.exams){
<h2>@exam.ExamName Exam</h2>
}

<table class="table table-bordered">
    <tr>
        <th>Question Name</th>
        <th>Question Answer</th>
        <th>Question Type</th>
        <th>Category</th>
        <th>Delete</th>
       
    </tr>
    @foreach(var examQuestions in Model)
    {
    <tr>
        <td>@examQuestions.QuestionName</td>
        <td>@examQuestions.QuestionAnswer</td>
        <td>@examQuestions.QuestionTypeName</td>
        <td>@examQuestions.CategoryName</td>
        <td><a name="id" href="/Question/Delete/@examQuestions.QuestionId" class="btn btn-danger">Delete</a></td>
    </tr>
    
    <input type="hidden" name="ExampId" value="@examQuestions.ExamId"/>

}
@foreach(var exam in ViewBag.exams){
<a name="id" href="/Question/Add/@exam.ExampId" class="btn btn-primary">New Question</a>
}
</table>

